<%- include("../includes/starter.ejs") %> 

</head>
<body>
    <%- include("../includes/header.ejs")  %>
    <main>
      <% if(products.length > 0) { %>
        <div class="d-flex gap-4 m-3 flex-warp">
          <!-- <% for(product of products) { %>  -->
            <div class="card" style="width: 18rem;">
                <img src="<%= product.imgUrl %> " class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= product.title %> </h5>
                  <p class="card-text"><%= product.description %> </p>
                  <h5><%= product.price %> </h5>
                  <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
              </div>
            <!-- <% } %>  -->
        </div>
        <% }else{ %>
          <h class="text-warning">Add Products</h>
          <% } %> 
    </main>
<%- include("../includes/ender.ejs") %> 
